<!-- cart-details.component.html -->

<div class="container">

  <div *ngFor="let tour of distinctTours">
    <div *ngIf="getTourCount(tour) > 0" class="cart-item">
      <input type="checkbox" [(ngModel)]="tour.isSelected">
      <span>{{ tour.name }}: {{ currencyService.convertPrice(tour.price_pln, currencyService.getSelectedCurrency()) }} {{ currencyService.getSelectedCurrency() }}
        x {{ getTourCount(tour) }}
      </span>
      <button (click)="removeFromCart(tour)" class="btn btn-danger">-</button>
      <button (click)="reserveAdditionalSeat(tour)" class="btn btn-primary">+</button>
    </div>
  </div>
  <div class="total-cart-value mt-3">
    <span class="font-weight-bold">Total Cart Value:</span> {{ totalCartPriceConverted }} {{ currencyService.getSelectedCurrency() }}
</div>
<button (click)="buySelectedTours()" class="btn btn-success mt-3">Buy</button>
</div>


