<div style="background-image: url('../../assets/backgroung-image.jpg');">

    <div class="biuro-turystyczne">
        <div class="wizytowka">
            <h2>Witaj w Biurze Turystycznym XYZ</h2>
            <p>Biuro Turystyczne XYZ to miejsce, w którym podróże stają się przygodą życia. Z bogatym doświadczeniem i pasją do odkrywania, oferujemy niezapomniane wakacje dostosowane do Twoich marzeń. Nasze biuro specjalizuje się w organizacji podróży dostosowanych do indywidualnych potrzeb klientów, oferując nie tylko standardowe wakacje, ale także unikalne i spersonalizowane doświadczenia podróżnicze. Bezpieczeństwo i satysfakcja klientów są dla nas priorytetem, dlatego dołożymy wszelkich starań, aby Twoja podróż była wyjątkowa. Dołącz do nas i odkryj świat z Biurem Turystycznym XYZ</p>
        </div>
        
        <div class="dane-kontaktowe">
            <h3>Dane kontaktowe</h3>
            <p>Email: biuro&#64;example.com</p>
            <p>Telefon: 123-456-789</p>
            <p>Adres: Kraków, al. Adama Mickiewicza 30</p>
        </div>
        
        <div class="lokalizacja">
            <h3>Lokalizacja</h3>
      <!-- <div id="map" style="height: 400px;"></div> -->
    </div>
</div>

</div>