<app-filter (filterChanged)="onFilterChanged($event)" [maxPrice]="this.getMaxPrice()" [minPrice]="this.getMinPrice()"></app-filter>
<div class="container">

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tour of displayedTours">
      <div class="card mb-3" [ngClass]="{
        'cheapest-tour': tour.price_pln === getMinPrice(),
        'most-expensive-tour': tour.price_pln === getMaxPrice()
      }">
        <!-- <img [src]="tour.imageLink" class="card-img-top" alt="Tour Image"> -->
        <div class="card-body">
          <h5 class="card-title">{{ tour.name | uppercase }}</h5>
          <p class="card-text">{{ tour.description }}</p>
          <button class="btn btn-primary" [routerLink]="['/tours', tour.id]">Show Details</button>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Destination:</strong> {{ tour.destination | uppercase }}</li>
            <li class="list-group-item"><strong>Dates:</strong> {{ tour.start_date.seconds*1000 | date }} - {{ tour.end_date.seconds*1000 | date }}</li>
            <li class="list-group-item"><strong>Cena:</strong> {{ tour.convertedPrice }} {{ this.getCurrency() }}</li>
            <li class="list-group-item"><strong>Ocena:</strong> {{ tour.rating[1] !== 0 ? tour.rating[0]/tour.rating[1] : 5 }}</li>
            <li class="list-group-item"><strong>Pozostałe miejsca:</strong> {{ tour.max_visitors - tour.current_visitors -  this.getNumberOfItemsInCart(tour) }}</li>
          </ul>
          <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="d-flex align-items-center">
              <button class="btn btn-info"
                [ngStyle]="{
                  'background-color': tour.max_visitors - tour.current_visitors - this.getNumberOfItemsInCart(tour) > 0 ?
                     (tour.max_visitors - tour.current_visitors - this.getNumberOfItemsInCart(tour) < 4 ? 'red' : '') : 'transparent',
                  'display': tour.max_visitors - tour.current_visitors - this.getNumberOfItemsInCart(tour) > 0 ? 'inline-block' : 'none'
                }"
                (click)="addToCart(tour)">+
              </button>
            </div>
          
            <button class="btn btn-info"
              (click)="removeFromCart(tour)"
              [ngStyle]="{ 'display': getNumberOfItemsInCart(tour) > 0 ? 'inline-block' : 'none' }"
            >-</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <mat-paginator 
    [length]="totalItems" 
    [pageSize]="pageSize" 
    [pageIndex]="currentPage - 1"
    [pageSizeOptions]="[3, 6, 9]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
