<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let tour of displayedTours">
      <div class="card mb-3">
        <!-- <img [src]="tour.imageLink" class="card-img-top" alt="Tour Image"> -->
        <div class="card-body">
          <h5 class="card-title">{{ tour.name }}</h5>
          <!-- <p class="card-text">ID :{{tour.id}}</p> -->
          <p class="card-text">{{ tour.description }}</p>
          <button class="btn btn-primary" [routerLink]="['/tours', tour.id]">Show Details</button>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Destination:</strong> {{ tour.destination }}</li>
            <li class="list-group-item"><strong>Dates:</strong> {{ tour.start_date.seconds*1000 | date }} - {{ tour.end_date.seconds*1000 | date }}</li>
            <li class="list-group-item"><strong>Cena:</strong> {{ tour.convertedPrice }}</li>
            <li class="list-group-item"><strong>Pozostałe miejsca:</strong> {{ tour.max_visitors - tour.current_visitors }}</li>
          </ul>
          <div class="d-flex justify-content-between align-items-center mt-3">
            <!-- <button class="btn btn-success" (click)="reserveTour(tour)">+</button>
            <button class="btn btn-danger" (click)="cancelReservation(tour)">-</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator 
    [length]="tours.length" 
    [pageSize]="pageSize" 
    [pageIndex]="currentPage - 1"
    [pageSizeOptions]="[3, 6, 9]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
