<div *ngIf="tour" class="tour-details">
  <h2>{{ tour.name }}</h2>
  <p>Opis: {{ tour.description }}</p>
  <p>Cena: {{ currencyService.convertPrice(this.tour.price_pln, currencyService.getSelectedCurrency()) }}
  {{ currencyService.getSelectedCurrency() }}</p>
  <p>Kraj: {{ tour.destination }}</p>
  <p>Dostępne miejsca: {{ tour.max_visitors - tour.current_visitors }}</p>

  <form [formGroup]="ratingForm" (ngSubmit)="submitRating(tour)" class="form-inline">
    <div class="form-group" style="display:flex; flex-direction: row;">
        <label for="rating" class="mr-2">Ocena:</label>
        <select formControlName="rating" id="rating" class="form-control" style="width:100px;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary ml-2">Oceń</button>
</form>


  <button class="btn btn-danger mt-3"
      *ngIf="tour.id" (click)="firestoreService.deleteDocument('wycieczki', tour.id).then(redirectToTours)" 
  >Usuń wycieczkę</button>
</div>

<div *ngIf="!tour" class="loading-message">
  <p>Loading tour details...</p>
</div>
